@page
@model CandyHeaven.Pages.ShoppingCart.OrderSuccessfulModel
@{
}

<div style="background-color:lightpink " class="jumbotron">
    <h1 class="display-4 text-center">Tack för din order!</h1>

    <hr class="my-4">
    <h5>Ordernummer : @Model.Ordernumber</h5>
    <nav class="navbar navbar-expand-md navbar-light">

        <a class="navbar-brand" href="#!">
            <img src="~/CandyHeavenLogo.png" height="200" alt="mdb logo">
        </a>


    </nav>


</div>    

    <div class="row float-right">
            <a class="btn btn-outline-dark btn-lg" href="/index" role="button">Gå tillbaka till startsidan</a>
    </div>
