@page
@model CandyHeaven.Pages.ShoppingCart.OrderSuccesfulModel
@{
}
<div class="jumbotron">
    <h1 class="display-4">Din order är beställd</h1>
        <h2>Ordernummer : @Model.Ordernumber</h2>
    
    <hr class="my-4">
    
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Se order</a>
    </p>
</div>