@page
@model CandyHeaven.Pages.ShoppingCart.PaymentModel
@{
}

<p>@Model.Name @Model.Frakt</p>


<h1>Välj betalsätt</h1>

<form action="/ShoppingCart/Payment">


    <input type="radio" id="html" name="fav_language" value="">
    <label for="html">VISA/MasterCard</label><br>
    <input type="radio" id="css" name="fav_language" value="Fakturabetalning">
    <label for="css">Instabox</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">Hämta i butik</label>
</form>


<div class="flex-row float-right">
    <a class="btn btn-outline-dark btn-lg" href="OrderSuccessful" role="button">FORTSÄTT</a>
</div>